@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: linear-gradiet(300deg, #757b87, #909d9d);
  
    min-height: 100vh;
 
}

  /* Bottom right text */
  .text-block {
    position:absolute;
    bottom: 5px;
    right: 120px;
    background-color: rgb(225, 162, 123);
    color: rgb(251, 233, 233);
    padding-left: 150px;
    padding-right: 130px;
    
  }
  .container{
   background-image:url('https://tse4.mm.bing.net/th?id=OIP.MvAEjgwHnZQSRFrdPxfw7gHaEK&pid=Api&P=0');
  height: 1000px;
      width: 1500px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.6;
    }
.Cities-Images{
    padding: 12px;
    margin: 8px;
    border-radius: 10px;
    display: flex;
    justify-content: right;

}
.cities{
    border-radius: 12px;
}
.img1{
    margin: 12px;
    border-radius: 12px;
    position: relative;
}
.text {
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: left;
  }

.img2{
    margin: 12px;
    border-radius: 12px;
    position: relative;
}
.text2{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    text-align: left;

}
  .img3{
    margin: 12px;
    border-radius: 12px;
    position: relative;
  }
  .text3{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(206, 205, 205);
    font-size: 24px;
    text-align: left;
  }
.text-block {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 300px;
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
}

.News{


padding: 12px;
margin: 8px;
border-radius: 16px;
display: flex;
justify-content: right;

}
.news-img1{
    
    margin: 10px;
    border-radius: 12px;
    position: relative;

} 
.ex{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(206, 205, 205);
    font-size: 20px;
    text-align: left;
}
.news-img2{
    margin: 12px;
    border-radius: 12px;
    position: relative;
}
.ex2{ 
     position: absolute;
    top: 85%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: rgb(255, 230, 230);
    font-size: 15px;
    text-align: left;

}
.news-img3{
    margin: 12px;
    border-radius: 12px;
    position: relative;
}
.ex3{
    position: absolute;
    top: 85%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: rgb(206, 205, 205);
    font-size: 15px;
    text-align: left;
}
.last{
    background-color: black;
    width: 1600px;
    height: 300px;
    color: white;
}


.card img {
    height: 60%;
}
In the above-mentioned code, under the card class, we have added backdrop filter property to blur whic
  
input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
}
input:focus {
    outline: none;
}
.weather {
    text-align: center;
    font-size: 2rem;
}
.weather h2 {
    margin-bottom: 0;
    display: flex;
    align-items: center;
} 
